.Brand_text {
  font-size: 40;
  font-weight: "bold";
  background-image: linear-gradient(
    45deg,
    #432a8c 0%,
    #6633a3 19%,
    #dd618a 27%,
    #00d1ff 66%,
    #771dff 73%,
    #ff66d2 89%,
    #6633a3 97%,
    #432a8c 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.name_text {
  font-size: 40;
  font-weight: "900";
  background-image: linear-gradient(
    45deg,
    #432a8c 0%,
    #6633a3 19%,
    #dd618a 27%,
    #00d1ff 66%,
    #771dff 73%,
    #ff66d2 89%,
    #6633a3 97%,
    #432a8c 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.welcome_text {
  font-size: 40;
  font-weight: "900";
  background-image: linear-gradient(
    45deg,
    #432a8c 0%,
    #6633a3 19%,
    #dd618a 27%,
    #00d1ff 66%,
    #771dff 73%,
    #ff66d2 89%,
    #6633a3 97%,
    #432a8c 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcome_text {
  /* background-image: linear-gradient(
    -15deg,
    #231557 0%,
    #44107a 19%,
    #ff1361 27%,
    #fff800 35%,
    #4dff00 48%,
    #00c8ff 66%,
    #4400ff 73%,
    #ff00b3 89%,
    #ff0000 97%,
    #efe0e0 100%
  ); */
  background-image: linear-gradient(
    45deg,
    #432a8c 0%,
    #6633a3 19%,
    #e61c5f 27%,
    /* #e0e0c0 35%, */ #13e93e 48%,
    #00d1ff 66%,
    #771dff 73%,
    #e526ac 89%,
    #6633a3 97%,
    #432a8c 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 7s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 100% center;
  }
}
